{% extends 'base.html' %}
{% load allauth %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center"
             style="height: 100vh">
            <div class="col-md-6">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-3">Email Confirmation</h2>
                        <p class="text-muted">A confirmation email has been sent to your email address.</p>
                        {% if confirmation %}
                            <p>You can also confirm your email by clicking the button below:</p>
                            {% url 'account_confirm_email' confirmation.key as action_url %}
                            <form method="post"
                                  action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <button class="btn btn-custom" type="submit">{% translate "Confirm" %}</button>
                            </form>
                        {% else %}
                            {% url 'account_email' as email_url %}
                            <p>
                                This email confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new email confirmation request</a>.
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
