{% extends 'base.html' %}
{% load static %}
{% load allauth %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center"
             style="height: 100vh">
            <div class="col-md-6">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-3">Password Reset</h2>
                        <p class="text-muted">
                            We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
