{% extends 'base.html' %}
{% load static %}
{% load allauth %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center"
             style="height: 100vh">
            <div class="col-md-6">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-3">Change Password</h2>
                        <p class="text-muted">Your password is now changed.</p>
                        <a href="{% url 'account_login' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
