{% extends 'base.html' %}
{% load static %}
{% load i18n allauth account %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center"
             style="height: 100vh">
            <div class="col-md-6">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body text-center">
                        {% if token_fail %}
                            <h2 class="card-title mb-3">Bad Token</h2>
                        {% else %}
                            <h2 class="card-title mb-3">Password Reset</h2>
                        {% endif %}
                        {% if token_fail %}
                            {% url 'account_reset_password' as passwd_reset_url %}
                            <p class="text-muted">
                                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
                            </p>
                        {% else %}
                            <form method="post" action={{ action_url }}>
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button class="btn btn-custom" type="submit">{% translate "Change Password" %}</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
