{% extends 'base.html' %}
{% load static %}
{% load allauth %}
{% load i18n %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center align-items-center"
             style="height: 100vh">
            <div class="col-md-6">
                <div class="card shadow-lg rounded-3">
                    <div class="card-body text-center">
                        <h2 class="card-title mb-3">Verify Your Email Address</h2>
                        <p class="text-muted">
                            We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
