:root {
    --main-bg-color: rgb(244, 232, 205);
    --header-text-color: rgb(244, 232, 205);
    --main-dark-color: rgb(48, 35, 35);
    --button-color: rgb(205, 167, 96);
    --text-color: rgb(48, 35, 35);
    --section-background: rgb(214, 173, 96);
    --border-color: rgb(207, 197, 174);
    --border-color-darker: 146, 139, 123;
}

body {
    background-color: var(--main-bg-color);
    font-family: "Dosis", serif;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
header {
    background-color: var(--main-dark-color);
}

a {
    text-decoration: none;
    display: inline-block;
    color: var(--main-dark-color)
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    list-style-type: none;
}
a.selected {
    color: var(--main-dark-color) ;
    text-decoration: underline;
}

.dot {
  font-size: 30px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.products-navigation, .profile-navigation {
    background-color: var(--main-dark-color);
}


ul.nav  {
    background-color: var(--main-dark-color);
    color: var(--header-text-color);

}

.nav a {
 color: var(--header-text-color);
 text-decoration: none;
}

.nav a:hover {
    color: var(--section-background);
}

a.header-icon-basket {
    position: relative;
    display: inline-block;
    background-image: url(../icons/basket.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5px;
    background-position: center;

}
a.header-icon-user {
    position: relative;
    display: inline-block;
    background-image: url(../icons/user.svg);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width: 768px) {
    .header-icon-container {
        display: flex;
    }
}

.header__cart-count {
    position: absolute;
    top: -5px;
    right: -14px;
    background-color: var(--main-bg-color);
    color: var(--main-dark-color);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
}

.header__cart-count:empty {
    display: none;
}

form label {
    display: none;
}
.card {
    background-color: var(--main-bg-color);
    border: 1px solid var(--section-background);
    border-radius: unset;
    color: var(--text-color);
}

.card:hover {
    border-width: 1.5px;

}
.card a {
    color: var(--main-dark-color);
}

.card img {
    max-height: 350px;
    width: 100%;
    object-fit: contain;
    border-radius: 0 !important;
}

.btn-custom {
    color: var(--text-color);
    border-color: var(--button-color);
}

.btn-link {
    text-decoration: underline;
    color: var(--main-dark-color);
}
.btn-custom:hover {
    background-color: var(--button-color);
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card-text {
    flex-grow: 1;
}

.hero-section {
  background-image: url('/static/images/4f0b3c0f-66b0-4e9a-a411-7a0fe3097156.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
}

.hero-section::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.quantity-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100px ;
    justify-content: space-between;
    height: 50px;
}

.minus-btn, .plus-btn {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    display: flex;
    background-color: var(--main-bg-color);
    background-position: center
}

.minus-btn {
    background-image: url(../icons/decrease.svg);
}

.plus-btn {
    background-image: url(../icons/increase.svg);
}
.quantity-input {
    width: 40px !important;
    text-align: center !important;
    border: none !important;
    font-size: 16px !important;
    background-color: var(--main-bg-color);
}
.quantity-container,
.quantity-btn:focus,
.quantity-input:focus {
    outline: none !important;
    border: none !important;
}

.category-header {
    height: 100px;
}

.filter-form {
    margin-top: 100px;
}

.search-field {
    width: 100%;
    padding: 3px;
    border: none;
    border-bottom: 0.5px solid var(--main-bg-color);
    background-color: transparent;
    outline: none;
    color: var(--main-bg-color);
}

.search-field:focus {
    border-bottom: 1px solid var(--main-bg-color);
}

.search-field {
    background-image: url(../icons/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 16px;
    padding-left: 35px;
    color: var(--main-bg-color);
}
svg.icon {
    color: var(--main-bg-color);
}

