{% extends 'base.html' %}
{% block header %}
    {% include 'partial/header.html' %}
{% endblock %}
{% load static %}
{% block content %}
    {% include 'partial/profile_navigation.html' %}
    <div class="container mt-5">
        <h3>Order List</h3>
        <!-- Accordion для отображения заказов -->
        <div class="accordion" id="orderAccordion">
            {% for order in orders %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading{{ order.id }}">
                        <button class="accordion-button"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse{{ order.id }}"
                                aria-expanded="false"
                                aria-controls="collapse{{ order.id }}">
                            Order #{{ order.id }} - {{ order.full_name }} ({{ order.get_status_display }})
                        </button>
                    </h2>
                    <div id="collapse{{ order.id }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="heading{{ order.id }}"
                         data-bs-parent="#orderAccordion">
                        <div class="accordion-body">
                            <p>
                                <strong>Date:</strong> {{ order.created }}
                            </p>
                            <p>
                                <strong>Total Amount:</strong> ${{ order.total_sum }}
                            </p>
                            <p>
                                <strong>Status:</strong> {{ order.get_status_display }}
                            </p>
                            <h5>Basket Details</h5>
                            <ul class="list-group">
                                {% for item in order.basket_history %}
                                    <li class="list-group-item">
                                        <div>
                                            <strong>Product Name:</strong> {{ item.product_name }}
                                        </div>
                                        <div>
                                            <strong>Quantity:</strong> {{ item.quantity }}
                                        </div>
                                        <div>
                                            <strong>Price:</strong> ${{ item.price }}
                                        </div>
                                        <div>
                                            <strong>Total:</strong> ${{ item.sum }}
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
