{% load static %}
{% load category_tag %}

<header>
    <div class="container">
        <div class="row align-items-center">
            <!-- Левая колонка (пустая для выравнивания) -->
            <div class="col-md-3"></div>
            <!-- Логотип в центре -->
            <div class="col-6 text-center">
                <a href="/" class="navbar-brand">
                    <img src="{% static 'images/logo(1).png' %}"
                         class="img-fluid"
                         style="max-width: 250px"
                         alt="Cocoa Pixies Logo">
                </a>
            </div>
            <div class="col-md-3 text-end header-icons-container">
                <a href="{% url 'account_login' %}" class="me-3 header-icon-user"></a>
                <a href="{% url 'basket' %}" class="header-icon-basket">
                    {% if user.is_authenticated %}
                        <cart-count class="header__cart-count header__cart-count--floating bubble-count">{{ user.basket_total_quantity }}</cart-count>
                    {% endif %}
                </a>
            </div>
            <div class="row">
                <form action="{% url 'product_list' %}" method="get">
                    {{ product_name_filter.form }}
                </form>
            </div>
        </div>
        <!-- Меню категорий строго по центру -->
        <div class="row justify-content-center">
            <div class="col-auto">
                <ul class="nav">
                    {% get_categories as categories %}
                    {% for category in categories %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category_products' category.slug %}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</header>

