<div class="row justify-content-center profile-navigation">
    <div class="col-auto">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link {% if '/dashboard/info/' in request.path %}active{% endif %}"
                   href="{% url 'profile' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if '/dashboard/orders/' in request.path %}active{% endif %}"
                   href="{% url 'order-list' %}">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
            </li>
        </ul>
    </div>
</div>
